@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
header {
    z-index: 999;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}
header .n2_logo{
    color:#fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .n2_navigation{
    position: relative;
}
header .n2_navigation .n2_navigation_items a{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .n2_navigation .n2_navigation_items a:before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .n2_navigation .n2_navigation_items a:hover:before{
    width: 100%;
}
section{
    padding: 100px 200px;
}
.n2_home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(86, 188, 255);
}
.n2_home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(82, 146, 255, 0.137);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;

}
.n2_home .n2_content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
    
}
.n2_home .n2_content.active{
    display: block;
}
.n2_home .n2_content h1{
    font-size: 110px;
    font-weight:600;
    margin-bottom: 40px;
    transition: 0.5s ease;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.n2_home .n2_content h1:hover{
    -webkit-text-stroke: 1px #fff;
    color:transparent ;
    text-shadow:none;
}
.n2_home .n2_content p{
    margin-bottom: 65px;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
}
.n2_go_btn {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 30px;
    border-radius: 50px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    transition:  0.3s ease;
}
.n2_go_btn:hover{
    background-color: #ffffff;
    color:#4da0ff;
}
.n2_go_btn:active{
    background-color: #4da0ff;
    color: #fff;
}
.n2_home .n2_media_icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display:flex ;
    flex-direction: column;
    transition: 0.5s ease;
}
.n2_home .n2_media_icons a{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}
.n2_home .n2_media_icons:not(:last-child){
    margin-bottom: 20px;
}
.n2_home .n2_media_icons a:hover{
    transform: scale(1.3);
}
.n2_home video{
    z-index: 000;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.n2_slider_navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}
.n2_slider_navigation .n2_nav_btn{
    position: relative;
    width: 13px;
    height: 13px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
    transition: 0.3s ease;
}
.n2_slider_navigation .n2_nav_btn:not(:last-child){
    margin-right: 20px;
}
.n2_slider_navigation .n2_nav_btn:hover{
    transform: scale(1.2);
}
.n2_slider_navigation .n2_nav_btn.active{
    background: #4da0ff;
}
.n2_video{
    position: absolute;
    width: 100%;
     clip-path: circle(0% at 0 50%);   
}
.n2_video.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property:clip-path;
}
@media (max-width:1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .n2_home .n2_media_icons{
        right: 15px;
    }
    header .n2_navigation{
      display: none;
    
    }
    header .n2_navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1,0.5);
     
    }
    header .n2_navigation.active .n2_navigation_items{
        background: #fff;
        width: 500px;
        max-width: 500px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    header .n2_navigation .n2_navigation_items a{
        color: #222;
        font-size: 25px;
        margin: 20px;
    }
    header .n2_navigation .n2_navigation_items a:before{
        background: #222;
        height: 5px;
    }
    .n2_home .n2_content h1{
        font-size: 100px;
    }
    .n2_menu_btn{
        background: url(../image/bar.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .n2_menu_btn.active{
        z-index: 999;
        background: url(../image/cross.png)no-repeat;
        background-size: 38px;
        background-position: center;
        transition: 0.3s ease;
    }
}
